/*esto es un comentario de CSS*/
/*
ANATOMIA DEL CSS
selector{
    propiedad:valor;


*/
h1{
    color:#000000
}
p{
    color:#9D96FF
}
dt{
   color: black;
}
strong{
    background-color:#EC96F4
}
u{
    background-color: #FFF296;
}
h2{
    background-color: #EED0F5;
}
th{
    background-color: #FED4C3;
}
td{
    background-color: #E090C8;
}
body{
    background-color: #E8ECED
}